## Data Reading

In [1]:
import pandas as pd

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

## Exploratory Data Analysis

In [ ]:
print(train.shape) #1460 observations, 81 variables: features + label = SalePrice
print(test.shape) #1459 observations, 80 variables features

In [ ]:
train.head(n=5)

In [ ]:
test.head(n=5)

In [3]:
#import pandas as pd
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)


def analyse_data(data):
    
    display(data.head(n=5))
    
    liste_colonnes = data.columns
    print("Dimensions:", data.shape)
    print('\n')
    
    cat_non_numerical = []
    for i, col in enumerate(liste_colonnes) :
        print("Colonne n°{}: {}".format(i, col))
        print('-'*30)
        print("Type de la colonne:", data[col].dtype)
        print("Nb de valeurs uniques:", len(data[col].unique()))
        print("Comptage des valeurs:")
        print(data[col].value_counts(dropna=False))
        percentage_NaN = data[col].isna().sum()/len(data)*100
        print("Pourcentage de NaN: {}%".format(percentage_NaN))

        print('\n')
        print('*'*50)
        print('\n')
        
        if data[col].dtype == 'object':
            cat_non_numerical.append(col)
    
    #return cols_a_garder, pourcentage_cols_a_garder
    return cat_non_numerical

In [4]:
cat_non_numerical = analyse_data(train)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Dimensions: (1460, 81)


Colonne n°0: Id
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 1460
Comptage des valeurs:
1460    1
479     1
481     1
482     1
483     1
       ..
976     1
977     1
978     1
979     1
1       1
Name: Id, Length: 1460, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°1: MSSubClass
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 15
Comptage des valeurs:
20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°2: MSZoning
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°3: LotFrontage
------------------------------
Type de la colonne: float64
Nb de valeurs uniques: 111
Comptage des valeurs:
NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64
Pourcentage de NaN: 17.73972602739726%


**************************************************


Colonne n°4: LotArea
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 1073
Comptage des valeurs:
7200     25
9600     24
6000     17
10800    14
9000     14
         ..
7094      1
6130      1
9337      1
5232      1
8190      1
Name: LotArea, Length: 1073, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°5: Street
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 2
Comptage des valeurs:
Pave    1454
Grvl       6
Name: Street, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°6: Alley
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
NaN     1369
Grvl      50
Pave      41
Name: Alley, dtype: int64
Pourcentage de NaN: 93.76712328767123%


**************************************************


Colonne n°7: LotShape
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°8: LandContour
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°9: Utilities
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 2
Comptage des valeurs:
AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°10: LotConfig
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°11: LandSlope
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°12: Neighborhood
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 25
Comptage des valeurs:
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°13: Condition1
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 9
Comptage des valeurs:
Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°14: Condition2
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 8
Comptage des valeurs:
Norm      1445
Feedr        6
PosN         2
RRNn         2
Artery       2
RRAn         1
PosA         1
RRAe         1
Name: Condition2, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°15: BldgType
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°16: HouseStyle
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 8
Comptage des valeurs:
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°17: OverallQual
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 10
Comptage des valeurs:
5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: OverallQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°18: OverallCond
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 9
Comptage des valeurs:
5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: OverallCond, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°19: YearBuilt
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 112
Comptage des valeurs:
2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1906     1
1911     1
1913     1
1917     1
1872     1
Name: YearBuilt, Length: 112, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°20: YearRemodAdd
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 61
Comptage des valeurs:
1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1983      5
1952      5
1986      5
1951      4
Name: YearRemodAdd, Length: 61, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°21: RoofStyle
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°22: RoofMatl
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 8
Comptage des valeurs:
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Membran       1
Roll          1
Metal         1
ClyTile       1
Name: RoofMatl, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°23: Exterior1st
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 15
Comptage des valeurs:
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
CBlock       1
ImStucc      1
AsphShn      1
Name: Exterior1st, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°24: Exterior2nd
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 16
Comptage des valeurs:
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°25: MasVnrType
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
None       864
BrkFace    445
Stone      128
BrkCmn      15
NaN          8
Name: MasVnrType, dtype: int64
Pourcentage de NaN: 0.547945205479452%


**************************************************


Colonne n°26: MasVnrArea
------------------------------
Type de la colonne: float64
Nb de valeurs uniques: 328
Comptage des valeurs:
0.0      861
72.0       8
180.0      8
NaN        8
108.0      8
        ...
337.0      1
415.0      1
293.0      1
259.0      1
621.0      1
Name: MasVnrArea, Length: 328, dtype: int64
Pourcentage de NaN: 0.547945205479452%


**************************************************


Colonne n°27: ExterQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°28: ExterCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°29: Foundation
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°30: BsmtQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     649
Gd     618
Ex     121
NaN     37
Fa      35
Name: BsmtQual, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°31: BsmtCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     1311
Gd       65
Fa       45
NaN      37
Po        2
Name: BsmtCond, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°32: BsmtExposure
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
No     953
Av     221
Gd     134
Mn     114
NaN     38
Name: BsmtExposure, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°33: BsmtFinType1
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
NaN     37
Name: BsmtFinType1, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°34: BsmtFinSF1
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 637
Comptage des valeurs:
0       467
24       12
16        9
20        5
686       5
       ...
1032      1
1022      1
599       1
1018      1
1904      1
Name: BsmtFinSF1, Length: 637, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°35: BsmtFinType2
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    1256
Rec      54
LwQ      46
NaN      38
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°36: BsmtFinSF2
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 144
Comptage des valeurs:
0       1293
180        5
374        3
551        2
93         2
        ...
532        1
544        1
546        1
547        1
1474       1
Name: BsmtFinSF2, Length: 144, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°37: BsmtUnfSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 780
Comptage des valeurs:
0       118
728       9
384       8
572       7
600       7
       ...
731       1
730       1
726       1
725       1
2046      1
Name: BsmtUnfSF, Length: 780, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°38: TotalBsmtSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 721
Comptage des valeurs:
0       37
864     35
672     17
912     15
1040    14
        ..
1463     1
1459     1
1454     1
1019     1
2046     1
Name: TotalBsmtSF, Length: 721, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°39: Heating
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°40: HeatingQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°41: CentralAir
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 2
Comptage des valeurs:
Y    1365
N      95
Name: CentralAir, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°42: Electrical
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
NaN         1
Name: Electrical, dtype: int64
Pourcentage de NaN: 0.0684931506849315%


**************************************************


Colonne n°43: 1stFlrSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 753
Comptage des valeurs:
864     25
1040    16
912     14
848     12
894     12
        ..
1285     1
1287     1
1288     1
1297     1
2053     1
Name: 1stFlrSF, Length: 753, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°44: 2ndFlrSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 417
Comptage des valeurs:
0       829
728      10
504       9
672       8
546       8
       ...
788       1
1116      1
1112      1
1111      1
1872      1
Name: 2ndFlrSF, Length: 417, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°45: LowQualFinSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 24
Comptage des valeurs:
0      1434
80        3
360       2
528       1
53        1
120       1
144       1
156       1
205       1
232       1
234       1
371       1
572       1
390       1
392       1
397       1
420       1
473       1
479       1
481       1
513       1
514       1
515       1
384       1
Name: LowQualFinSF, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°46: GrLivArea
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 861
Comptage des valeurs:
864     22
1040    14
894     11
848     10
1456    10
        ..
3447     1
1396     1
1395     1
1393     1
2054     1
Name: GrLivArea, Length: 861, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°47: BsmtFullBath
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 4
Comptage des valeurs:
0    856
1    588
2     15
3      1
Name: BsmtFullBath, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°48: BsmtHalfBath
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 3
Comptage des valeurs:
0    1378
1      80
2       2
Name: BsmtHalfBath, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°49: FullBath
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 4
Comptage des valeurs:
2    768
1    650
3     33
0      9
Name: FullBath, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°50: HalfBath
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 3
Comptage des valeurs:
0    913
1    535
2     12
Name: HalfBath, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°51: BedroomAbvGr
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 8
Comptage des valeurs:
3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: BedroomAbvGr, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°52: KitchenAbvGr
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 4
Comptage des valeurs:
1    1392
2      65
3       2
0       1
Name: KitchenAbvGr, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°53: KitchenQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°54: TotRmsAbvGrd
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 12
Comptage des valeurs:
6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
14      1
2       1
Name: TotRmsAbvGrd, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°55: Functional
------------------------------

Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°56: Fireplaces
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 4
Comptage des valeurs:
0    690
1    650
2    115
3      5
Name: Fireplaces, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°57: FireplaceQu
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
NaN    690
Gd     380
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64
Pourcentage de NaN: 47.26027397260274%


**************************************************


Colonne n°58: GarageType
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Attchd     870
Detchd     387
BuiltIn     88
NaN         81
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°59: GarageYrBlt
------------------------------
Type de la colonne: float64
Nb de valeurs uniques: 98
Comptage des valeurs:
NaN       81
2005.0    65
2006.0    59
2004.0    53
2003.0    50
          ..
1906.0     1
1927.0     1
1900.0     1
1908.0     1
1933.0     1
Name: GarageYrBlt, Length: 98, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°60: GarageFinish
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
Unf    605
RFn    422
Fin    352
NaN     81
Name: GarageFinish, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°61: GarageCars
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 5
Comptage des valeurs:
2    824
1    369
3    181
0     81
4      5
Name: GarageCars, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°62: GarageArea
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 441
Comptage des valeurs:
0       81
440     49
576     47
240     38
484     34
        ..
754      1
459      1
458      1
756      1
1418     1
Name: GarageArea, Length: 441, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°63: GarageQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1311
NaN      81
Fa       48
Gd       14
Po        3
Ex        3
Name: GarageQual, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°64: GarageCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1326
NaN      81
Fa       35
Gd        9
Po        7
Ex        2
Name: GarageCond, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°65: PavedDrive
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°66: WoodDeckSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 274
Comptage des valeurs:
0      761
192     38
100     36
144     33
120     31
      ...
269      1
265      1
263      1
260      1
215      1
Name: WoodDeckSF, Length: 274, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°67: OpenPorchSF
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 202
Comptage des valeurs:
0      656
36      29
48      22
20      21
40      19
      ...
159      1
156      1
148      1
142      1
119      1
Name: OpenPorchSF, Length: 202, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°68: EnclosedPorch
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 120
Comptage des valeurs:
0      1252
112      15
96        6
120       5
144       5
       ...
174       1
177       1
183       1
189       1
552       1
Name: EnclosedPorch, Length: 120, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°69: 3SsnPorch
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 20
Comptage des valeurs:
0      1436
168       3
216       2
144       2
180       2
245       1
238       1
290       1
196       1
182       1
407       1
304       1
162       1
153       1
320       1
140       1
130       1
96        1
23        1
508       1
Name: 3SsnPorch, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°70: ScreenPorch
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 76
Comptage des valeurs:
0      1344
192       6
224       5
120       5
189       4
       ...
182       1
440       1
178       1
312       1
480       1
Name: ScreenPorch, Length: 76, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°71: PoolArea
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 8
Comptage des valeurs:
0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°72: PoolQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
NaN    1453
Gd        3
Fa        2
Ex        2
Name: PoolQC, dtype: int64
Pourcentage de NaN: 99.52054794520548%


**************************************************


Colonne n°73: Fence
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
NaN      1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64
Pourcentage de NaN: 80.75342465753424%


**************************************************


Colonne n°74: MiscFeature
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
NaN     1406
Shed      49
Othr       2
Gar2       2
TenC       1
Name: MiscFeature, dtype: int64
Pourcentage de NaN: 96.30136986301369%


**************************************************


Colonne n°75: MiscVal
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 21
Comptage des valeurs:
0        1408
400        11
500         8
700         5
450         4
2000        4
600         4
1200        2
480         2
1150        1
800         1
15500       1
620         1
3500        1
560         1
2500        1
1300        1
1400        1
350         1
8300        1
54          1
Name: MiscVal, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°76: MoSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 12
Comptage des valeurs:
6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°77: YrSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 5
Comptage des valeurs:
2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°78: SaleType
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 9
Comptage des valeurs:
WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°79: SaleCondition
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°80: SalePrice
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 663
Comptage des valeurs:
140000    20
135000    17
145000    14
155000    14
190000    13
          ..
84900      1
424870     1
415298     1
62383      1
34900      1
Name: SalePrice, Length: 663, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************

In [6]:
train['YearBuilt']

0       2003
1       1976
2       2001
3       1915
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: YearBuilt, Length: 1460, dtype: int64

In [ ]:
LotArea: 215k ?
Street: Enlever la variable ?
Alley: Remplacer NaN par une valeur ? One-hot encoding ?
LotShape: One-hot-encoding ?
LandContour: One-hot-encoding ?
Utilities: suppression de la variable ?
LotConfig: one-hot encoding ?
LandSlope: one-hot-encoding ?
LotConfig: one-hot-encoding ?
Condition1: one-hot-encoding ?
Condition2: déséquilibre distribution: suppression variable ? 
BldgType: one-hot-encoding ?
HouseStyle: one-hot-encoding ?
OverallQual: catégorielle numérique avec ordre avec très peu de valeurs distinctes
OverallCond: catégorielle numérique avec ordre avec très peu de valeurs distinctes,
    regarder corrélation avec chi2, pearson avec OverallQual
YearBuilt: transformer en durée
YearRemodAdd: transformer en durée, corrélation avec YearBuilt
RoofStyle: one-hot-encoding ?
RoofMatl: one-hot-encoding ?   
Exterior1st: one-hot-encoding ?
Exterior2nd: one-hot-encoding ?
MasVnrType: Presence de None et de Nan, est-ce que la même chose ou c'est différent ?
MasVnrArea: numérique, Présence de NaN
ExterQual: catégorielle non-numérique avec ordre  
ExterCond:  catégorielle non-numérique avec ordre 
Foundation:  catégorielle non-numérique sans ordre
BsmtQual: catégorielle non-numérique avec ordre, NaN
BsmtCond: catégorielle non-numérique avec ordre, NaN
BsmtExposure: catégorielle non-numérique avec ordre, NaN
BsmtFinType1:catégorielle non-numérique avec ordre, NaN
BsmtFinSF1: continuous,  énormément de 0, distribution déséquilibrée
BsmtFinType2:  catégorielle non-numérique avec ordre, NaN
BsmtFinSF2: continuous, énormément de 0, distribution déséquilibrée
BsmtUnfSF: continuous
TotalBsmtSF: continuous, à mettre ensemble avec BsmtUnfSF en pourcentage ?
Heating: catégorielle non-numérique sans ordre, distribution déséquilibrée
HeatingQC: catégorielle non-numérique sans ordre
CentralAir: catégorielle non-numérique binaire, distribution déséquilibrée, label encoding ?
Electrical: catégorielle non-numérique avec ordre, 1 seul NaN,  distribution déséquilibrée, label encoding
1stFlrSF: continuous
2ndFlrSF: continuous, distribution déséquilibrée
LowQualFinSF: continuous, distribution déséquilibrée, faire somme avec 1stFlrSF et 2ndFlrSF
GrLivArea: continuous, on peut ptet l'utiliser avec 1stFlrSF et 2ndFlrSF
BsmtFullBath: numérique
BsmtHalfBath: numérique, distribution déséquilibrée
FullBath: numérique
HalfBath: numérique
FireplaceQu: catégorielle non-numérique avec ordre, NaN   = pas de cheminée
GarageType:  catégorielle non-numérique sans ordre, NaN = No Garage
GarageYrBlt: transformer en durée, il y a des NaN
GarageFinish: catégorielle non-numérique sans ordre, NaN = no garage
GarageCars: continuous
GarageArea: continuous
GarageQual: ordinal, NaN, distribution déséquilibrée
GarageCond: ordinal, NaN, distribution déséquilibrée
PavedDrive: nominal,  distribution déséquilibrée
WoodDeckSF: continuous
OpenPorchSF: continuous,distribution déséquilibrée
EnclosedPorch : continuous,distribution déséquilibrée   
3SsnPorch: continuous, distribution déséquilibrée   
ScreenPorch: continuous, distribution déséquilibrée 
PoolArea:continuous, distribution déséquilibrée 
PoolQC: ordinal, bcp de NaN = No Pool
Fence: ordinal, bcp de NaN = No Fence
MiscFeature: nominal, bcp de NaN = None
MiscVal: continuous, bcp de 0
MoSold: ordinal (mois) à transformer en durée ?
YrSold: ordinal(année) à transformer en durée ?
SaleType: nominal, distribution déséquilibrée  
SaleCondition: nominal, distribution déséquilibrée