## I - Data Reading

In [2]:
import pandas as pd 

train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

## II - Exploratory Data Analysis

Steps:
- Distribution of variables (features and labels): outliers, imbalancement?
- Missing values
- Correlation
- Categorical variables: ordinal, nominal, many distinct values, method of encoding ?
- Numerical variables: agregation between variables (sum, mean, percentage ?)

### Fonction for analyzing data

In [23]:
#import pandas as pd
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)


def analyse_data(data, liste_colonnes = None):
    
    if liste_colonnes is None:
        liste_colonnes = list(data.columns)
    else:
        liste_colonnes = liste_colonnes

    display(data[liste_colonnes].head(n=5))

    print("Dimensions:", data.shape)
    print('\n')
    
    cat_non_numerical = []
    for i, col in enumerate(liste_colonnes) :
        print("Colonne n°{}: {}".format(i, col))
        print('-'*30)
        print("Type de la colonne:", data[col].dtype)
        print("Nb de valeurs uniques:", len(data[col].unique()))
        print("Comptage des valeurs:")
        print(data[col].value_counts(dropna=False))
        percentage_NaN = data[col].isna().sum()/len(data)*100
        print("Pourcentage de NaN: {}%".format(percentage_NaN))

        print('\n')
        print('*'*50)
        print('\n')
        
        #if data[col].dtype == 'object':
        #    cat_non_numerical.append(col)
    
    #return cat_non_numerical
    
    return

### 1) Analysis about ordinal features:

In [48]:
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   'YearBuilt', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'YearRemodAdd', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'BsmtQual', 
                   'BsmtCond',
                   'BsmtExposure',
                   'BsmtFinType1',
                   'BsmtFinType2',
                   'HeatingQC',
                   'Electrical', #nominal or ordinal ?
                   'KitchenQual',
                   'FireplaceQu',
                   'GarageQual',
                   'GarageCond',
                   'PoolQC', 
                   'Fence',
                   'MoSold', #nominal or ordinal ?
                   'YrSold' #nominal or ordinal ?
               ]

- OverallQual already encoded
- OverallCond already encoded
- LandSlope: une valeur dominante à 94.7 % 
- BsmtQual: we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !

In [49]:
#Analysis for the train data
analyse_data(train_data, OrdinalFeatures)

,ExterQual,ExterCond,LandSlope,YearBuilt,YearRemodAdd,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,Electrical,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence,MoSold,YrSold
0,Gd,TA,Gtl,2003,2003,Gd,TA,No,GLQ,Unf,Ex,SBrkr,Gd,NaN,TA,TA,NaN,NaN,2,2008
1,TA,TA,Gtl,1976,1976,Gd,TA,Gd,ALQ,Unf,Ex,SBrkr,TA,TA,TA,TA,NaN,NaN,5,2007
2,Gd,TA,Gtl,2001,2002,Gd,TA,Mn,GLQ,Unf,Ex,SBrkr,Gd,TA,TA,TA,NaN,NaN,9,2008
3,TA,TA,Gtl,1915,1970,TA,Gd,No,ALQ,Unf,Gd,SBrkr,Gd,Gd,TA,TA,NaN,NaN,2,2006
4,Gd,TA,Gtl,2000,2000,Gd,TA,Av,GLQ,Unf,Ex,SBrkr,Gd,TA,TA,TA,NaN,NaN,12,2008

Dimensions: (1460, 81)


Colonne n°0: ExterQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°1: ExterCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°2: LandSlope
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°3: YearBuilt
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 112
Comptage des valeurs:
2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1906     1
1911     1
1913     1
1917     1
1872     1
Name: YearBuilt, Length: 112, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°4: YearRemodAdd
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 61
Comptage des valeurs:
1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1983      5
1952      5
1986      5
1951      4
Name: YearRemodAdd, Length: 61, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°5: BsmtQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     649
Gd     618
Ex     121
NaN     37
Fa      35
Name: BsmtQual, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°6: BsmtCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     1311
Gd       65
Fa       45
NaN      37
Po        2
Name: BsmtCond, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°7: BsmtExposure
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
No     953
Av     221
Gd     134
Mn     114
NaN     38
Name: BsmtExposure, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°8: BsmtFinType1
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
NaN     37
Name: BsmtFinType1, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°9: BsmtFinType2
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    1256
Rec      54
LwQ      46
NaN      38
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°10: HeatingQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°11: Electrical
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
NaN         1
Name: Electrical, dtype: int64
Pourcentage de NaN: 0.0684931506849315%


**************************************************


Colonne n°12: KitchenQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°13: FireplaceQu
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
NaN    690
Gd     380
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64
Pourcentage de NaN: 47.26027397260274%


**************************************************


Colonne n°14: GarageQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1311
NaN      81
Fa       48
Gd       14
Ex        3
Po        3
Name: GarageQual, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°15: GarageCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1326
NaN      81
Fa       35
Gd        9
Po        7
Ex        2
Name: GarageCond, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°16: PoolQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
NaN    1453
Gd        3
Fa        2
Ex        2
Name: PoolQC, dtype: int64
Pourcentage de NaN: 99.52054794520548%


**************************************************


Colonne n°17: Fence
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
NaN      1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64
Pourcentage de NaN: 80.75342465753424%


**************************************************


Colonne n°18: MoSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 12
Comptage des valeurs:
6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°19: YrSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 5
Comptage des valeurs:
2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************

In [50]:
#Analysis for the test data
analyse_data(test_data, OrdinalFeatures)

,ExterQual,ExterCond,LandSlope,YearBuilt,YearRemodAdd,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,Electrical,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence,MoSold,YrSold
0,TA,TA,Gtl,1961,1961,TA,TA,No,Rec,LwQ,TA,SBrkr,TA,NaN,TA,TA,NaN,MnPrv,6,2010
1,TA,TA,Gtl,1958,1958,TA,TA,No,ALQ,Unf,TA,SBrkr,Gd,NaN,TA,TA,NaN,NaN,6,2010
2,TA,TA,Gtl,1997,1998,Gd,TA,No,GLQ,Unf,Gd,SBrkr,TA,TA,TA,TA,NaN,MnPrv,3,2010
3,TA,TA,Gtl,1998,1998,TA,TA,No,GLQ,Unf,Ex,SBrkr,Gd,Gd,TA,TA,NaN,NaN,6,2010
4,Gd,TA,Gtl,1992,1992,Gd,TA,No,ALQ,Unf,Ex,SBrkr,Gd,NaN,TA,TA,NaN,NaN,1,2010

Dimensions: (1459, 80)


Colonne n°0: ExterQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    892
Gd    491
Ex     55
Fa     21
Name: ExterQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°1: ExterCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA    1256
Gd     153
Fa      39
Ex       9
Po       2
Name: ExterCond, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°2: LandSlope
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
Gtl    1396
Mod      60
Sev       3
Name: LandSlope, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°3: YearBuilt
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 106
Comptage des valeurs:
2005    78
2006    71
2007    60
2004    45
2003    43
        ..
1902     1
1896     1
1982     1
1880     1
1879     1
Name: YearBuilt, Length: 106, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°4: YearRemodAdd
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 61
Comptage des valeurs:
1950    183
2006    105
2007     88
2005     68
2004     49
       ...
1988      6
1983      6
1985      5
1981      4
1982      2
Name: YearRemodAdd, Length: 61, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°5: BsmtQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     634
Gd     591
Ex     137
Fa      53
NaN     44
Name: BsmtQual, dtype: int64
Pourcentage de NaN: 3.015764222069911%


**************************************************


Colonne n°6: BsmtCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     1295
Fa       59
Gd       57
NaN      45
Po        3
Name: BsmtCond, dtype: int64
Pourcentage de NaN: 3.0843043180260454%


**************************************************


Colonne n°7: BsmtExposure
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
No     951
Av     197
Gd     142
Mn     125
NaN     44
Name: BsmtExposure, dtype: int64
Pourcentage de NaN: 3.015764222069911%


**************************************************


Colonne n°8: BsmtFinType1
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
GLQ    431
Unf    421
ALQ    209
Rec    155
BLQ    121
LwQ     80
NaN     42
Name: BsmtFinType1, dtype: int64
Pourcentage de NaN: 2.878684030157642%


**************************************************


Colonne n°9: BsmtFinType2
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    1237
Rec      51
NaN      42
LwQ      41
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64
Pourcentage de NaN: 2.878684030157642%


**************************************************


Colonne n°10: HeatingQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
Ex    752
TA    429
Gd    233
Fa     43
Po      2
Name: HeatingQC, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°11: Electrical
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
SBrkr    1337
FuseA      94
FuseF      23
FuseP       5
Name: Electrical, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°12: KitchenQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     757
Gd     565
Ex     105
Fa      31
NaN      1
Name: KitchenQual, dtype: int64
Pourcentage de NaN: 0.06854009595613435%


**************************************************


Colonne n°13: FireplaceQu
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
NaN    730
Gd     364
TA     279
Fa      41
Po      26
Ex      19
Name: FireplaceQu, dtype: int64
Pourcentage de NaN: 50.03427004797807%


**************************************************


Colonne n°14: GarageQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     1293
NaN      78
Fa       76
Gd       10
Po        2
Name: GarageQual, dtype: int64
Pourcentage de NaN: 5.346127484578479%


**************************************************


Colonne n°15: GarageCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1328
NaN      78
Fa       39
Po        7
Gd        6
Ex        1
Name: GarageCond, dtype: int64
Pourcentage de NaN: 5.346127484578479%


**************************************************


Colonne n°16: PoolQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
NaN    1456
Ex        2
Gd        1
Name: PoolQC, dtype: int64
Pourcentage de NaN: 99.7943797121316%


**************************************************


Colonne n°17: Fence
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
NaN      1169
MnPrv     172
GdPrv      59
GdWo       58
MnWw        1
Name: Fence, dtype: int64
Pourcentage de NaN: 80.12337217272105%


**************************************************


Colonne n°18: MoSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 12
Comptage des valeurs:
6     250
7     212
5     190
4     138
3     126
8     111
9      95
10     84
2      81
1      64
11     63
12     45
Name: MoSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°19: YrSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 5
Comptage des valeurs:
2007    363
2008    318
2009    309
2006    305
2010    164
Name: YrSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************

In [ ]:
print(cat_non_numerical)

In [ ]:
train_data['MoSold'].value_counts()

In [ ]:
- MSSubClass: nominal variable
- MSZoning: nominal variable
- LotArea: 215k outlier ?
- Street: nominal variable, Enlever la variable ?
- Alley: nominal variable, Remplacer NaN par une valeur ? 
- LotShape: nominal variable
- LandContour: nominal variable
- Utilities: nominal variable, suppression de la variable ?
- LotConfig: nominal variable
- LandSlope: ordinal variable
- Neighborhood: nominal variable
- Condition1: nominal variable
- Condition2: nominal variable, déséquilibre distribution: suppression variable ? 
- BldgType: nominal variable
- HouseStyle: nominal variable     
- OverallQual: ordinal variable
- OverallCond:  ordinal variable
    regarder corrélation avec chi2, pearson avec OverallQual
YearBuilt: ordinal or nominal variable ?, transformer en durée
YearRemodAdd: ordinal or nominal variable ? transformer en durée, corrélation avec YearBuilt
RoofStyle: nominal variable
RoofMatl: nominal variable
Exterior1st: nominal variable
Exterior2nd: nominal variable
MasVnrType: nominal variable, Presence de None et de Nan, est-ce que la même chose ou c'est différent ?
MasVnrArea: numérique, Présence de NaN
ExterQual: ordinal variable
ExterCond:  ordinal variable
Foundation:  nominal variable
BsmtQual: ordinal variable, NaN
BsmtCond: ordinal variable, NaN
BsmtExposure: ordinal variable, NaN
BsmtFinType1: ordinal variable, NaN
BsmtFinSF1: continuous,  énormément de 0, distribution déséquilibrée
BsmtFinType2:  ordinal variable, NaN
BsmtFinSF2: continuous, énormément de 0, distribution déséquilibrée
BsmtUnfSF: continuous
TotalBsmtSF: continuous, à mettre ensemble avec BsmtUnfSF en pourcentage ?
Heating: nominal variable, distribution déséquilibrée
HeatingQC: ordinal variable
CentralAir: nominal (binary) variable string, distribution déséquilibrée, label encoding ?
Electrical: ordinal or nominal variable ?, 1 seul NaN,  distribution déséquilibrée, label encoding
1stFlrSF: continuous
2ndFlrSF: continuous, distribution déséquilibrée
LowQualFinSF: continuous, distribution déséquilibrée, faire somme avec 1stFlrSF et 2ndFlrSF
GrLivArea: continuous, on peut ptet l'utiliser avec 1stFlrSF et 2ndFlrSF
BsmtFullBath: numérique
BsmtHalfBath: numérique, distribution déséquilibrée
FullBath: numérique
HalfBath: numérique
Bedroom: numerical variable
Kitchen: numerical variable
KitchenQual: ordinal variable
TotRmsAbvGrd: numerical variable
Functional: nominal variable
Fireplaces: numerical variable
FireplaceQu: ordinal variable, NaN   = pas de cheminée
GarageType:  nominal variable, NaN = No Garage
GarageYrBlt: transformer en durée, il y a des NaN
GarageFinish: nominal variable, NaN = no garage
GarageCars: continuous
GarageArea: continuous
GarageQual: ordinal, NaN, distribution déséquilibrée
GarageCond: ordinal, NaN, distribution déséquilibrée
PavedDrive: nominal,  distribution déséquilibrée
WoodDeckSF: continuous
OpenPorchSF: continuous,distribution déséquilibrée
EnclosedPorch : continuous,distribution déséquilibrée   
3SsnPorch: continuous, distribution déséquilibrée   
ScreenPorch: continuous, distribution déséquilibrée 
PoolArea:continuous, distribution déséquilibrée 
PoolQC: ordinal, bcp de NaN = No Pool
Fence: ordinal, bcp de NaN = No Fence
MiscFeature: nominal, bcp de NaN = None
MiscVal: continuous, bcp de 0
MoSold: nominal or ordinal (mois) à transformer en durée ?
YrSold: nominal or ordinal(année) à transformer en durée ?
SaleType: nominal, distribution déséquilibrée  
SaleCondition: nominal, distribution déséquilibrée

In [ ]:
#from pandas_profiling import ProfileReport

## III - Features Engineering

In [42]:
train = train_data.copy()
test = test_data.copy()

### 1) Missing values

In [51]:
import numpy as np
def replace_nan(train, test, column, new_value):
    train[column] = train[column].replace(np.nan, new_value)
    test[column] = test[column].replace(np.nan, new_value)
    return train, test

In [53]:
train, test = replace_nan(train, test, 'BsmtQual', 'NoBasement')

In [54]:
train['BsmtQual'].value_counts()

TA            649
Gd            618
Ex            121
NoBasement     37
Fa             35
Name: BsmtQual, dtype: int64

In [55]:
test['BsmtQual'].value_counts()

TA            634
Gd            591
Ex            137
Fa             53
NoBasement     44
Name: BsmtQual, dtype: int64

### 2) Ordinal Variables

In [ ]:
#train['ExterQual'].value_counts()

In [ ]:
#Label Encoding for ordinal variables
#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
#OrdinalFeature = 'ExterQual'#
#train[OrdinalFeature+ 'Encoded'] = le.fit_transform(train['ExterQual'])
#train2 = train.drop(OrdinalFeature, axis=1)

In [ ]:
#le.classes_
#How LabelEncoder choose the order to encode the distinct values ?
#In the case of strings, LabelEncoder sorts alphabetically the distinct values and then it assign values from 0 to N

#With Label Encoding we have this following order: 
#['Ex', 'Fa', 'Gd', 'TA'] = [0,1,2,3]
#The correct order according to the data_description is:
#       Ex	Excellent
#       Gd	Good
#       TA	Average/Typical
#       Fa	Fair
#       Po	Poor
#so we must have Po < Fa < TA < Gd < Ex => ['Po', 'Fa', 'TA', 'Gd', 'Ex']  = [0,1,2,3,4]
#But Po doesn't exist in our data, so we have : 
#['Fa', 'TA', 'Gd', 'Ex'] = [0,1,2,3]

#Should we use the order of LabelEncoder or the order of the data description ?
#There is a difference for the algorithm ?
#If yes, so we have to create our own LabelEncoder for using the correct order.

In [6]:
#With no automatic order
from sklearn.preprocessing import OrdinalEncoder
def OrdinalEncoding(train, test, features, categories, dtype = 'int32'):
    
    enc = OrdinalEncoder(dtype = dtype, categories = categories)
    train[features] = enc.fit_transform(train[features])
    test[features] = enc.transform(test[features])
    
    return train, test

In [56]:
import numpy as np
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   #'YearBuilt', #nominal or ordinal ?
                   #'YearRemodAdd', ##nominal or ordinal ?
                   'BsmtQual', 
#                   'BsmtCond',
#                   'BsmtExposure',
#                   'BsmtFinType1',
#                   'BsmtFinType2',
#                   'HeatingQC',
#                   'Electrical', #nominal or ordinal ?
#                   'KitchenQual',
#                   'FireplaceQu',
#                   'GarageQual',
#                   'GarageCond',
#                   'PoolQC', 
#                   'Fence',
#                   'MoSold', #nominal or ordinal ?
#                   'YrSold' #nominal or ordinal ?
           
          ]
categories = [['Fa', 'TA', 'Gd', 'Ex'],
              ['Po','Fa', 'TA', 'Gd', 'Ex'], 
              ['Gtl', 'Mod', 'Sev'],
              ['NoBasement', 'Po','Fa', 'TA', 'Gd', 'Ex'], 
              ]
train, test = OrdinalEncoding(train, test, OrdinalFeatures,  categories)

In [58]:
train[OrdinalFeatures]

      ExterQual  ExterCond  LandSlope  BsmtQual
0             2          2          0         4
1             1          2          0         4
2             2          2          0         4
3             1          2          0         3
4             2          2          0         4
...         ...        ...        ...       ...
1455          1          2          0         4
1456          1          2          0         4
1457          3          3          0         3
1458          1          2          0         3
1459          2          2          0         3

[1460 rows x 4 columns]

In [ ]:
#from sklearn.preprocessing import OrdinalEncoder
##Same thing like LabelEncoder but we can apply for many features at the same time
##But it works only with at #least 2 features
##We choose our own order by adding the argument categories and write all the categories in a list for each feature
#OrdinalFeatures = ['ExterQual','ExterCond']
#enc = OrdinalEncoder(dtype = 'int32', categories = [['Fa', 'TA', 'Gd', 'Ex'],['Po','Fa', 'TA', 'Gd', 'Ex']])
#train[OrdinalFeatures] = enc.fit_transform(train[OrdinalFeatures])
#test[OrdinalFeatures] = enc.transform(test[OrdinalFeatures])

In [ ]:
#With automatic order
enc2 = OrdinalEncoder(dtype = 'int32')
train[OrdinalFeatures] = enc2.fit_transform(train[OrdinalFeatures])
test[OrdinalFeatures] = enc2.transform(test[OrdinalFeatures])

In [9]:
train_data[OrdinalFeatures].head(n=5)

  ExterQual ExterCond
0        Gd        TA
1        TA        TA
2        Gd        TA
3        TA        TA
4        Gd        TA

In [10]:
train[OrdinalFeatures].head(n=5)

   ExterQual  ExterCond
0          2          2
1          1          2
2          2          2
3          1          2
4          2          2

In [11]:
test[OrdinalFeatures].head(n=5)

   ExterQual  ExterCond
0          1          2
1          1          2
2          1          2
3          1          2
4          2          2

## Algorithm ML

In [59]:
#We remove 'Id' because distribution is too dispersed
#We remove SalePrice because it's the label
#X =  train.drop(['Id',SalePrice'], axis = 1)
X = train[OrdinalFeatures]
y = train['SalePrice']

In [60]:
from sklearn import tree
from sklearn.model_selection import cross_val_score

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

scores = cross_val_score(clf, X, y, cv=10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

/home/ubuntu/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Accuracy: 0.04 (+/- 0.06)

In [ ]:
clf.predict()

## Pipeline

In [ ]:
#from sklearn.pipeline import Pipeline
#from sklearn import tree
#from sklearn.preprocessing import OrdinalEncoder
#
#OrdinalFeatures = ['ExterQual','ExterCond']
#enc = OrdinalEncoder(dtype = 'int32', categories = [['Fa', 'TA', 'Gd', 'Ex'],['Po','Fa', 'TA', 'Gd', 'Ex']])
#clf = tree.DecisionTreeClassifier()
#estimators = [('enc ', enc), ('clf', clf )]
#pipe = Pipeline(estimators)
#train[OrdinalFeatures] = pipe.fit_transform(train[OrdinalFeatures])
#test[OrdinalFeatures] = pipe.transform(test[OrdinalFeatures])