## I - Data Reading

In [1]:
import pandas as pd 

train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

## II - Exploratory Data Analysis

Steps:
- Distribution of variables (features and labels): outliers, imbalancement?
- Missing values
- Correlation
- Categorical variables: ordinal, nominal, many distinct values, method of encoding ?
- Numerical variables: agregation between variables (sum, mean, percentage ?)

### Fonction for analyzing data

In [ ]:
#import pandas as pd
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)


def analyse_data(data, liste_colonnes = None):
    
    if liste_colonnes is None:
        liste_colonnes = list(data.columns)
    else:
        liste_colonnes = liste_colonnes

    display(data[liste_colonnes].head(n=5))

    print("Dimensions:", data.shape)
    print('\n')
    
    cat_non_numerical = []
    for i, col in enumerate(liste_colonnes) :
        print("Colonne n°{}: {}".format(i, col))
        print('-'*30)
        print("Type de la colonne:", data[col].dtype)
        print("Nb de valeurs uniques:", len(data[col].unique()))
        print("Comptage des valeurs:")
        print(data[col].value_counts(dropna=False))
        percentage_NaN = data[col].isna().sum()/len(data)*100
        print("Pourcentage de NaN: {}%".format(percentage_NaN))

        print('\n')
        print('*'*50)
        print('\n')
        
        #if data[col].dtype == 'object':
        #    cat_non_numerical.append(col)
    
    #return cat_non_numerical
    
    return

### 1) Analysis about ordinal features:

In [ ]:
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   'YearBuilt', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'YearRemodAdd', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'BsmtQual', 
                   'BsmtCond',
                   'BsmtExposure',
                   'BsmtFinType1',
                   'BsmtFinType2',
                   'HeatingQC',
                   'Electrical', #nominal or ordinal ?
                   'KitchenQual',
                   'FireplaceQu',
                   'GarageQual',
                   'GarageCond',
                   'PoolQC', 
                   'Fence',
                   'MoSold', #nominal or ordinal ?
                   'YrSold' #nominal or ordinal ?
               ]

- OverallQual already encoded
- OverallCond already encoded
- LandSlope: une valeur dominante à 94.7 % 
- BsmtQual: we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !

In [ ]:
#Analysis for the train data
analyse_data(train_data, OrdinalFeatures)

In [ ]:
#Analysis for the test data
analyse_data(test_data, OrdinalFeatures)

In [ ]:
print(cat_non_numerical)

In [ ]:
train_data['MoSold'].value_counts()

In [ ]:
- MSSubClass: nominal variable
- MSZoning: nominal variable
- LotArea: 215k outlier ?
- Street: nominal variable, Enlever la variable ?
- Alley: nominal variable, Remplacer NaN par une valeur ? 
- LotShape: nominal variable
- LandContour: nominal variable
- Utilities: nominal variable, suppression de la variable ?
- LotConfig: nominal variable
- LandSlope: ordinal variable
- Neighborhood: nominal variable
- Condition1: nominal variable
- Condition2: nominal variable, déséquilibre distribution: suppression variable ? 
- BldgType: nominal variable
- HouseStyle: nominal variable     
- OverallQual: ordinal variable
- OverallCond:  ordinal variable
    regarder corrélation avec chi2, pearson avec OverallQual
YearBuilt: ordinal or nominal variable ?, transformer en durée
YearRemodAdd: ordinal or nominal variable ? transformer en durée, corrélation avec YearBuilt
RoofStyle: nominal variable
RoofMatl: nominal variable
Exterior1st: nominal variable
Exterior2nd: nominal variable
MasVnrType: nominal variable, Presence de None et de Nan, est-ce que la même chose ou c'est différent ?
MasVnrArea: numérique, Présence de NaN
ExterQual: ordinal variable
ExterCond:  ordinal variable
Foundation:  nominal variable
BsmtQual: ordinal variable, NaN
BsmtCond: ordinal variable, NaN
BsmtExposure: ordinal variable, NaN
BsmtFinType1: ordinal variable, NaN
BsmtFinSF1: continuous,  énormément de 0, distribution déséquilibrée
BsmtFinType2:  ordinal variable, NaN
BsmtFinSF2: continuous, énormément de 0, distribution déséquilibrée
BsmtUnfSF: continuous
TotalBsmtSF: continuous, à mettre ensemble avec BsmtUnfSF en pourcentage ?
Heating: nominal variable, distribution déséquilibrée
HeatingQC: ordinal variable
CentralAir: nominal (binary) variable string, distribution déséquilibrée, label encoding ?
Electrical: ordinal or nominal variable ?, 1 seul NaN,  distribution déséquilibrée, label encoding
1stFlrSF: continuous
2ndFlrSF: continuous, distribution déséquilibrée
LowQualFinSF: continuous, distribution déséquilibrée, faire somme avec 1stFlrSF et 2ndFlrSF
GrLivArea: continuous, on peut ptet l'utiliser avec 1stFlrSF et 2ndFlrSF
BsmtFullBath: numérique
BsmtHalfBath: numérique, distribution déséquilibrée
FullBath: numérique
HalfBath: numérique
Bedroom: numerical variable
Kitchen: numerical variable
KitchenQual: ordinal variable
TotRmsAbvGrd: numerical variable
Functional: nominal variable
Fireplaces: numerical variable
FireplaceQu: ordinal variable, NaN   = pas de cheminée
GarageType:  nominal variable, NaN = No Garage
GarageYrBlt: transformer en durée, il y a des NaN
GarageFinish: nominal variable, NaN = no garage
GarageCars: continuous
GarageArea: continuous
GarageQual: ordinal, NaN, distribution déséquilibrée
GarageCond: ordinal, NaN, distribution déséquilibrée
PavedDrive: nominal,  distribution déséquilibrée
WoodDeckSF: continuous
OpenPorchSF: continuous,distribution déséquilibrée
EnclosedPorch : continuous,distribution déséquilibrée   
3SsnPorch: continuous, distribution déséquilibrée   
ScreenPorch: continuous, distribution déséquilibrée 
PoolArea:continuous, distribution déséquilibrée 
PoolQC: ordinal, bcp de NaN = No Pool
Fence: ordinal, bcp de NaN = No Fence
MiscFeature: nominal, bcp de NaN = None
MiscVal: continuous, bcp de 0
MoSold: nominal or ordinal (mois) à transformer en durée ?
YrSold: nominal or ordinal(année) à transformer en durée ?
SaleType: nominal, distribution déséquilibrée  
SaleCondition: nominal, distribution déséquilibrée

In [ ]:
#from pandas_profiling import ProfileReport

## III - Features Engineering

In [2]:
train = train_data.copy()
test = test_data.copy()

### 1) Missing values

In [3]:
import numpy as np
def replace_nan(train, test, column, new_value):
    train[column] = train[column].replace(np.nan, new_value)
    test[column] = test[column].replace(np.nan, new_value)
    return train, test

In [4]:
train, test = replace_nan(train, test, 'BsmtQual', 'NoBasement')

In [ ]:
train['BsmtQual'].value_counts()

In [ ]:
test['BsmtQual'].value_counts()

### 2) Ordinal Variables

In [ ]:
#train['ExterQual'].value_counts()

In [ ]:
#Label Encoding for ordinal variables
#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
#OrdinalFeature = 'ExterQual'#
#train[OrdinalFeature+ 'Encoded'] = le.fit_transform(train['ExterQual'])
#train2 = train.drop(OrdinalFeature, axis=1)

In [ ]:
#le.classes_
#How LabelEncoder choose the order to encode the distinct values ?
#In the case of strings, LabelEncoder sorts alphabetically the distinct values and then it assign values from 0 to N

#With Label Encoding we have this following order: 
#['Ex', 'Fa', 'Gd', 'TA'] = [0,1,2,3]
#The correct order according to the data_description is:
#       Ex	Excellent
#       Gd	Good
#       TA	Average/Typical
#       Fa	Fair
#       Po	Poor
#so we must have Po < Fa < TA < Gd < Ex => ['Po', 'Fa', 'TA', 'Gd', 'Ex']  = [0,1,2,3,4]
#But Po doesn't exist in our data, so we have : 
#['Fa', 'TA', 'Gd', 'Ex'] = [0,1,2,3]

#Should we use the order of LabelEncoder or the order of the data description ?
#There is a difference for the algorithm ?
#If yes, so we have to create our own LabelEncoder for using the correct order.

#### <font color = 'brown'> Reverse Helmert Encoding </font>

In [ ]:
import category_encoders as ce
enc = ce.HelmertEncoder(cols = ['ExterQual'], drop_invariant = True)
dfh = enc.fit_transform(train['ExterQual'])
df = pd.concat([train, dfh], axis = 1)

In [ ]:
df['ExterQual'].value_counts()

Pour n catégories, on crée n-1 colonnes:
Par exemple, on applique sur la colonne ExterQual ayant 4 valeurs distinctes:
TA, Gd, Ex et Fa

- Pour la première colonne ExterQual_0:
on compare TA à Gd, on mets 1 pour TA, -1 pour Gd et 0 pour le reste.
- Pour la 2eme colonne ExterQual_1:
on compare Ex à TA et Gd, on mets 2 pour Ex, -1 pour TA et Gd et 0 pour le reste, c'est à dire pour Fa
- Pour la 3eme colonne ExterQual_2:
on compare Fa à Ex, TA et GD, on mets 3 pour Fa, -1 pour Ex, TA et GD

Avec cette librairie, on ne divise pas les nombres de chaque colonne par le nombre de niveaux qu'on compare 
contrairement à ce qui est dit dans la théorie:
https://stats.idre.ucla.edu/spss/faq/coding-systems-for-categorical-variables-in-regression-analysis-2/#HELMERT%20EFFECT%20CODING

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 5500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


display(df[['ExterQual','ExterQual_0','ExterQual_1','ExterQual_2']])

In [ ]:
df[df['ExterQual'] == 'Fa']['ExterQual_2']

#### <font color = 'brown'> Ordinal Encoding </font>

In [22]:
from sklearn.preprocessing import OrdinalEncoder
def OrdinalEncoding(train, test, features, categories = None, dtype = 'int32', trace = True):
    train2 = train.copy()
    test2 = test.copy()
    
    if categories is not None:
        enc = OrdinalEncoder(dtype = dtype, categories = categories) #our order
    else:
        enc = OrdinalEncoder(dtype = dtype) #automatic order
    train2[features] = enc.fit_transform(train[features])
    test2[features] = enc.transform(test[features])
    
    if trace is True:
        print('Train:')
        display(train2[features].head(n=5))
        print('Test:')
        display(test2[features].head(n=5))
    
    return train2, test2

In [ ]:
#For 1 feature:
#import numpy as np
#OrdinalFeatures = ['ExterQual']
#categories = [['Fa', 'TA', 'Gd', 'Ex']]
#train, test = OrdinalEncoding(train, test, OrdinalFeatures,  categories)

In [23]:
#For several features
import numpy as np
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   #'YearBuilt', #nominal or ordinal ?
                   #'YearRemodAdd', ##nominal or ordinal ?
                   'BsmtQual', 
#                   'BsmtCond',
#                   'BsmtExposure',
#                   'BsmtFinType1',
#                   'BsmtFinType2',
#                   'HeatingQC',
#                   'Electrical', #nominal or ordinal ?
#                   'KitchenQual',
#                   'FireplaceQu',
#                   'GarageQual',
#                   'GarageCond',
#                   'PoolQC', 
#                   'Fence',
#                   'MoSold', #nominal or ordinal ?
#                   'YrSold' #nominal or ordinal ?
           
          ]
categories = [['Fa', 'TA', 'Gd', 'Ex'],
              ['Po','Fa', 'TA', 'Gd', 'Ex'], 
              ['Gtl', 'Mod', 'Sev'],
              ['NoBasement', 'Po','Fa', 'TA', 'Gd', 'Ex'], 
              ]
#Our own order
print('With our own order:')
train_ordinal_encoded, test_ordinal_encoded = OrdinalEncoding(train,
                                                              test,
                                                              OrdinalFeatures,
                                                              categories,
                                                              trace = True)
print('\n')
#Automatic order
print('With automatic order:')
train_ordinal_auto_encoded, test_ordinal_auto_encoded = OrdinalEncoding(train,
                                                                        test,
                                                                        OrdinalFeatures,
                                                                        categories = None, 
                                                                        trace = True)

With our own order:
Train:

   ExterQual  ExterCond  LandSlope  BsmtQual
0          2          2          0         4
1          1          2          0         4
2          2          2          0         4
3          1          2          0         3
4          2          2          0         4

Test:

   ExterQual  ExterCond  LandSlope  BsmtQual
0          1          2          0         3
1          1          2          0         3
2          1          2          0         4
3          1          2          0         3
4          2          2          0         4

With automatic order:
Train:

   ExterQual  ExterCond  LandSlope  BsmtQual
0          2          4          0         2
1          3          4          0         2
2          2          4          0         2
3          3          4          0         4
4          2          4          0         2

Test:

   ExterQual  ExterCond  LandSlope  BsmtQual
0          3          4          0         4
1          3          4          0         4
2          3          4          0         2
3          3          4          0         4
4          2          4          0         2

## Algorithm ML

In [ ]:
#We remove 'Id' because distribution is too dispersed
#We remove SalePrice because it's the label
#X =  train.drop(['Id',SalePrice'], axis = 1)
X = train[OrdinalFeatures]
y = train['SalePrice']

In [ ]:
from sklearn import tree
from sklearn.model_selection import cross_val_score

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

scores = cross_val_score(clf, X, y, cv=10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [ ]:
clf.predict()

## Pipeline

In [ ]:
#from sklearn.pipeline import Pipeline
#from sklearn import tree
#from sklearn.preprocessing import OrdinalEncoder
#
#OrdinalFeatures = ['ExterQual','ExterCond']
#enc = OrdinalEncoder(dtype = 'int32', categories = [['Fa', 'TA', 'Gd', 'Ex'],['Po','Fa', 'TA', 'Gd', 'Ex']])
#clf = tree.DecisionTreeClassifier()
#estimators = [('enc ', enc), ('clf', clf )]
#pipe = Pipeline(estimators)
#train[OrdinalFeatures] = pipe.fit_transform(train[OrdinalFeatures])
#test[OrdinalFeatures] = pipe.transform(test[OrdinalFeatures])