<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#I---Data-Reading" data-toc-modified-id="I---Data-Reading-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>I - Data Reading</a></span></li><li><span><a href="#II---Exploratory-Data-Analysis" data-toc-modified-id="II---Exploratory-Data-Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>II - Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#Fonction-for-analyzing-data" data-toc-modified-id="Fonction-for-analyzing-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Fonction for analyzing data</a></span></li><li><span><a href="#1)-Analysis-about-ordinal-features:" data-toc-modified-id="1)-Analysis-about-ordinal-features:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>1) Analysis about ordinal features:</a></span></li></ul></li><li><span><a href="#III---Features-Engineering" data-toc-modified-id="III---Features-Engineering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>III - Features Engineering</a></span><ul class="toc-item"><li><span><a href="#1)-Missing-values" data-toc-modified-id="1)-Missing-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>1) Missing values</a></span></li><li><span><a href="#2)-Ordinal-Features" data-toc-modified-id="2)-Ordinal-Features-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>2) Ordinal Features</a></span><ul class="toc-item"><li><span><a href="#-Reverse-Helmert-Encoding-" data-toc-modified-id="-Reverse-Helmert-Encoding--3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><font color="brown"> Reverse Helmert Encoding </font></a></span></li><li><span><a href="#-Ordinal-Encoding-" data-toc-modified-id="-Ordinal-Encoding--3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span><font color="brown"> Ordinal Encoding </font></a></span></li></ul></li><li><span><a href="#3)-Date-categorical-features" data-toc-modified-id="3)-Date-categorical-features-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>3) Date categorical features</a></span></li></ul></li><li><span><a href="#Algorithm-ML" data-toc-modified-id="Algorithm-ML-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Algorithm ML</a></span></li><li><span><a href="#Pipeline" data-toc-modified-id="Pipeline-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pipeline</a></span></li></ul></div>

## I - Data Reading

In [1]:
import pandas as pd 
#### changement 
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

## II - Exploratory Data Analysis

Steps:
- Distribution of variables (features and labels): outliers, imbalancement?
- Missing values
- Correlation
- Categorical variables: ordinal, nominal, many distinct values, method of encoding ?
- Numerical variables: agregation between variables (sum, mean, percentage ?)

### Fonction for analyzing data

In [9]:
#import pandas as pd
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)


def analyse_data(data, liste_colonnes = None):
    
    if liste_colonnes is None:
        liste_colonnes = list(data.columns)
    else:
        liste_colonnes = liste_colonnes

    display(data[liste_colonnes].head(n=5))

    print("Dimensions:", data.shape)
    print('\n')
    
    cat_non_numerical = []
    for i, col in enumerate(liste_colonnes) :
        print("Colonne n°{}: {}".format(i, col))
        print('-'*30)
        print("Type de la colonne:", data[col].dtype)
        print("Nb de valeurs uniques:", len(data[col].unique()))
        print("Comptage des valeurs:")
        print(data[col].value_counts(dropna=False))
        percentage_NaN = data[col].isna().sum()/len(data)*100
        print("Pourcentage de NaN: {}%".format(percentage_NaN))

        print('\n')
        print('*'*50)
        print('\n')
        
        #if data[col].dtype == 'object':
        #    cat_non_numerical.append(col)
    
    #return cat_non_numerical
    
    return

### 1) Analysis about ordinal features:

In [10]:
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   'YearBuilt', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'YearRemodAdd', #nominal or ordinal ? I would say nominal because we can't say 2004 < 2005 ?
                   'BsmtQual', 
                   'BsmtCond',
                   'BsmtExposure',
                   'BsmtFinType1',
                   'BsmtFinType2',
                   'HeatingQC',
                   'Electrical', #nominal or ordinal ?
                   'KitchenQual',
                   'FireplaceQu',
                   'GarageQual',
                   'GarageCond',
                   'PoolQC', 
                   'Fence',
                   'MoSold', #nominal or ordinal ?
                   'YrSold' #nominal or ordinal ?
               ]

Tasks done: 
- OverallQual already encoded
- OverallCond already encoded
- LandSlope: une valeur dominante à 94.7 % 
- BsmtQual: we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !
- BsmtCond: we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !
- BsmtExposure: we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !
- BsmtFinType1:  we have to replace NaN by a value = No Basement before to perform a OrdinalEncoding !

In [11]:
#Analysis for the train data
analyse_data(train_data, OrdinalFeatures)

,ExterQual,ExterCond,LandSlope,YearBuilt,YearRemodAdd,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,Electrical,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence,MoSold,YrSold
0,Gd,TA,Gtl,2003,2003,Gd,TA,No,GLQ,Unf,Ex,SBrkr,Gd,NaN,TA,TA,NaN,NaN,2,2008
1,TA,TA,Gtl,1976,1976,Gd,TA,Gd,ALQ,Unf,Ex,SBrkr,TA,TA,TA,TA,NaN,NaN,5,2007
2,Gd,TA,Gtl,2001,2002,Gd,TA,Mn,GLQ,Unf,Ex,SBrkr,Gd,TA,TA,TA,NaN,NaN,9,2008
3,TA,TA,Gtl,1915,1970,TA,Gd,No,ALQ,Unf,Gd,SBrkr,Gd,Gd,TA,TA,NaN,NaN,2,2006
4,Gd,TA,Gtl,2000,2000,Gd,TA,Av,GLQ,Unf,Ex,SBrkr,Gd,TA,TA,TA,NaN,NaN,12,2008

Dimensions: (1460, 81)


Colonne n°0: ExterQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°1: ExterCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°2: LandSlope
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 3
Comptage des valeurs:
Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°3: YearBuilt
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 112
Comptage des valeurs:
2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1906     1
1911     1
1913     1
1917     1
1872     1
Name: YearBuilt, Length: 112, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°4: YearRemodAdd
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 61
Comptage des valeurs:
1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1983      5
1952      5
1986      5
1951      4
Name: YearRemodAdd, Length: 61, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°5: BsmtQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     649
Gd     618
Ex     121
NaN     37
Fa      35
Name: BsmtQual, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°6: BsmtCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
TA     1311
Gd       65
Fa       45
NaN      37
Po        2
Name: BsmtCond, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°7: BsmtExposure
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
No     953
Av     221
Gd     134
Mn     114
NaN     38
Name: BsmtExposure, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°8: BsmtFinType1
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
NaN     37
Name: BsmtFinType1, dtype: int64
Pourcentage de NaN: 2.5342465753424657%


**************************************************


Colonne n°9: BsmtFinType2
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 7
Comptage des valeurs:
Unf    1256
Rec      54
LwQ      46
NaN      38
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64
Pourcentage de NaN: 2.6027397260273974%


**************************************************


Colonne n°10: HeatingQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°11: Electrical
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
NaN         1
Name: Electrical, dtype: int64
Pourcentage de NaN: 0.0684931506849315%


**************************************************


Colonne n°12: KitchenQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°13: FireplaceQu
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
NaN    690
Gd     380
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64
Pourcentage de NaN: 47.26027397260274%


**************************************************


Colonne n°14: GarageQual
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1311
NaN      81
Fa       48
Gd       14
Ex        3
Po        3
Name: GarageQual, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°15: GarageCond
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 6
Comptage des valeurs:
TA     1326
NaN      81
Fa       35
Gd        9
Po        7
Ex        2
Name: GarageCond, dtype: int64
Pourcentage de NaN: 5.5479452054794525%


**************************************************


Colonne n°16: PoolQC
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 4
Comptage des valeurs:
NaN    1453
Gd        3
Fa        2
Ex        2
Name: PoolQC, dtype: int64
Pourcentage de NaN: 99.52054794520548%


**************************************************


Colonne n°17: Fence
------------------------------
Type de la colonne: object
Nb de valeurs uniques: 5
Comptage des valeurs:
NaN      1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: Fence, dtype: int64
Pourcentage de NaN: 80.75342465753424%


**************************************************


Colonne n°18: MoSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 12
Comptage des valeurs:
6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************


Colonne n°19: YrSold
------------------------------
Type de la colonne: int64
Nb de valeurs uniques: 5
Comptage des valeurs:
2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64
Pourcentage de NaN: 0.0%


**************************************************

In [ ]:
#Analysis for the test data
analyse_data(test_data, OrdinalFeatures)

In [ ]:
print(cat_non_numerical)

In [ ]:
train_data['MoSold'].value_counts()

In [ ]:
- MSSubClass: nominal variable
- MSZoning: nominal variable
- LotArea: 215k outlier ?
- Street: nominal variable, Enlever la variable ?
- Alley: nominal variable, Remplacer NaN par une valeur ? 
- LotShape: nominal variable
- LandContour: nominal variable
- Utilities: nominal variable, suppression de la variable ?
- LotConfig: nominal variable
- LandSlope: ordinal variable
- Neighborhood: nominal variable
- Condition1: nominal variable
- Condition2: nominal variable, déséquilibre distribution: suppression variable ? 
- BldgType: nominal variable
- HouseStyle: nominal variable     
- OverallQual: ordinal variable
- OverallCond:  ordinal variable
    regarder corrélation avec chi2, pearson avec OverallQual
YearBuilt: ordinal or nominal variable ?, transformer en durée
YearRemodAdd: ordinal or nominal variable ? transformer en durée, corrélation avec YearBuilt
RoofStyle: nominal variable
RoofMatl: nominal variable
Exterior1st: nominal variable
Exterior2nd: nominal variable
MasVnrType: nominal variable, Presence de None et de Nan, est-ce que la même chose ou c'est différent ?
MasVnrArea: numérique, Présence de NaN
ExterQual: ordinal variable
ExterCond:  ordinal variable
Foundation:  nominal variable
BsmtQual: ordinal variable, NaN
BsmtCond: ordinal variable, NaN
BsmtExposure: ordinal variable, NaN
BsmtFinType1: ordinal variable, NaN
BsmtFinSF1: continuous,  énormément de 0, distribution déséquilibrée
BsmtFinType2:  ordinal variable, NaN
BsmtFinSF2: continuous, énormément de 0, distribution déséquilibrée
BsmtUnfSF: continuous
TotalBsmtSF: continuous, à mettre ensemble avec BsmtUnfSF en pourcentage ?
Heating: nominal variable, distribution déséquilibrée
HeatingQC: ordinal variable
CentralAir: nominal (binary) variable string, distribution déséquilibrée, label encoding ?
Electrical: ordinal or nominal variable ?, 1 seul NaN,  distribution déséquilibrée, label encoding
1stFlrSF: continuous
2ndFlrSF: continuous, distribution déséquilibrée
LowQualFinSF: continuous, distribution déséquilibrée, faire somme avec 1stFlrSF et 2ndFlrSF
GrLivArea: continuous, on peut ptet l'utiliser avec 1stFlrSF et 2ndFlrSF
BsmtFullBath: numérique
BsmtHalfBath: numérique, distribution déséquilibrée
FullBath: numérique
HalfBath: numérique
Bedroom: numerical variable
Kitchen: numerical variable
KitchenQual: ordinal variable
TotRmsAbvGrd: numerical variable
Functional: nominal variable
Fireplaces: numerical variable
FireplaceQu: ordinal variable, NaN   = pas de cheminée
GarageType:  nominal variable, NaN = No Garage
GarageYrBlt: transformer en durée, il y a des NaN
GarageFinish: nominal variable, NaN = no garage
GarageCars: continuous
GarageArea: continuous
GarageQual: ordinal, NaN, distribution déséquilibrée
GarageCond: ordinal, NaN, distribution déséquilibrée
PavedDrive: nominal,  distribution déséquilibrée
WoodDeckSF: continuous
OpenPorchSF: continuous,distribution déséquilibrée
EnclosedPorch : continuous,distribution déséquilibrée   
3SsnPorch: continuous, distribution déséquilibrée   
ScreenPorch: continuous, distribution déséquilibrée 
PoolArea:continuous, distribution déséquilibrée 
PoolQC: ordinal, bcp de NaN = No Pool
Fence: ordinal, bcp de NaN = No Fence
MiscFeature: nominal, bcp de NaN = None
MiscVal: continuous, bcp de 0
MoSold: nominal or ordinal (mois) à transformer en durée ?
YrSold: nominal or ordinal(année) à transformer en durée ?
SaleType: nominal, distribution déséquilibrée  
SaleCondition: nominal, distribution déséquilibrée

In [ ]:
#from pandas_profiling import ProfileReport

## III - Features Engineering

In [2]:
train = train_data.copy()
test = test_data.copy()

### 1) Missing values

In [3]:
import numpy as np
def replace_nan(train, test, features, new_value, trace = True):
    train[features] = train[features].replace(np.nan, new_value)
    test[features] = test[features].replace(np.nan, new_value)
    
    if trace:
        
        #axis = 0 (index), I do the operation between the rows for each column
        print('NaNs replaced by {} for train & test:'.format(new_value))
        display(train[features].apply(lambda x: x.value_counts(dropna = False), axis = 0))
        display(test[features].apply(lambda x: x.value_counts(dropna = False), axis = 0))
    
    return train, test

In [12]:
ordinal_features_with_nan = ['BsmtQual','BsmtCond', 'BsmtExposure', 'BsmtFinType1']
new_value = 'No Basement'

train, test = replace_nan(train, test, ordinal_features_with_nan, new_value, trace = True)

NaNs replaced by No Basement for train & test:

             BsmtQual  BsmtCond  BsmtExposure  BsmtFinType1
ALQ               NaN       NaN           NaN         220.0
Av                NaN       NaN         221.0           NaN
BLQ               NaN       NaN           NaN         148.0
Ex              121.0       NaN           NaN           NaN
Fa               35.0      45.0           NaN           NaN
GLQ               NaN       NaN           NaN         418.0
Gd              618.0      65.0         134.0           NaN
LwQ               NaN       NaN           NaN          74.0
Mn                NaN       NaN         114.0           NaN
No                NaN       NaN         953.0           NaN
No Basement      37.0      37.0          38.0          37.0
Po                NaN       2.0           NaN           NaN
Rec               NaN       NaN           NaN         133.0
TA              649.0    1311.0           NaN           NaN
Unf               NaN       NaN           NaN         430.0

             BsmtQual  BsmtCond  BsmtExposure  BsmtFinType1
ALQ               NaN       NaN           NaN         209.0
Av                NaN       NaN         197.0           NaN
BLQ               NaN       NaN           NaN         121.0
Ex              137.0       NaN           NaN           NaN
Fa               53.0      59.0           NaN           NaN
GLQ               NaN       NaN           NaN         431.0
Gd              591.0      57.0         142.0           NaN
LwQ               NaN       NaN           NaN          80.0
Mn                NaN       NaN         125.0           NaN
No                NaN       NaN         951.0           NaN
No Basement      44.0      45.0          44.0          42.0
Po                NaN       3.0           NaN           NaN
Rec               NaN       NaN           NaN         155.0
TA              634.0    1295.0           NaN           NaN
Unf               NaN       NaN           NaN         421.0

### 2) Ordinal Features

In [ ]:
#train['ExterQual'].value_counts()

In [ ]:
#Label Encoding for ordinal variables
#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
#OrdinalFeature = 'ExterQual'#
#train[OrdinalFeature+ 'Encoded'] = le.fit_transform(train['ExterQual'])
#train2 = train.drop(OrdinalFeature, axis=1)

In [ ]:
#le.classes_
#How LabelEncoder choose the order to encode the distinct values ?
#In the case of strings, LabelEncoder sorts alphabetically the distinct values and then it assign values from 0 to N

#With Label Encoding we have this following order: 
#['Ex', 'Fa', 'Gd', 'TA'] = [0,1,2,3]
#The correct order according to the data_description is:
#       Ex	Excellent
#       Gd	Good
#       TA	Average/Typical
#       Fa	Fair
#       Po	Poor
#so we must have Po < Fa < TA < Gd < Ex => ['Po', 'Fa', 'TA', 'Gd', 'Ex']  = [0,1,2,3,4]
#But Po doesn't exist in our data, so we have : 
#['Fa', 'TA', 'Gd', 'Ex'] = [0,1,2,3]

#Should we use the order of LabelEncoder or the order of the data description ?
#There is a difference for the algorithm ?
#If yes, so we have to create our own LabelEncoder for using the correct order.

#### <font color = 'brown'> Reverse Helmert Encoding </font>

In [ ]:
import category_encoders as ce
enc = ce.HelmertEncoder(cols = ['ExterQual'], drop_invariant = True)
dfh = enc.fit_transform(train['ExterQual'])
df = pd.concat([train, dfh], axis = 1)

In [ ]:
df['ExterQual'].value_counts()

Pour n catégories, on crée n-1 colonnes:
Par exemple, on applique sur la colonne ExterQual ayant 4 valeurs distinctes:
TA, Gd, Ex et Fa

- Pour la première colonne ExterQual_0:
on compare TA à Gd, on mets 1 pour TA, -1 pour Gd et 0 pour le reste.
- Pour la 2eme colonne ExterQual_1:
on compare Ex à TA et Gd, on mets 2 pour Ex, -1 pour TA et Gd et 0 pour le reste, c'est à dire pour Fa
- Pour la 3eme colonne ExterQual_2:
on compare Fa à Ex, TA et GD, on mets 3 pour Fa, -1 pour Ex, TA et GD

Avec cette librairie, on ne divise pas les nombres de chaque colonne par le nombre de niveaux qu'on compare 
contrairement à ce qui est dit dans la théorie:
https://stats.idre.ucla.edu/spss/faq/coding-systems-for-categorical-variables-in-regression-analysis-2/#HELMERT%20EFFECT%20CODING

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 5500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


display(df[['ExterQual','ExterQual_0','ExterQual_1','ExterQual_2']])

In [ ]:
df[df['ExterQual'] == 'Fa']['ExterQual_2']

#### <font color = 'brown'> Ordinal Encoding </font>

In [6]:
from sklearn.preprocessing import OrdinalEncoder
def OrdinalEncoding(train, test, features, categories = None, dtype = 'int32', trace = True):
    train2 = train.copy()
    test2 = test.copy()
    
    if categories is not None:
        enc = OrdinalEncoder(dtype = dtype, categories = categories) #our order
    else:
        enc = OrdinalEncoder(dtype = dtype) #automatic order
    train2[features] = enc.fit_transform(train[features])
    test2[features] = enc.transform(test[features])
    
    if trace:
        print('Train:')
        display(train2[features].head(n=5))
        print('Test:')
        display(test2[features].head(n=5))
    
    return train2, test2

In [ ]:
#For 1 feature:
#import numpy as np
#OrdinalFeatures = ['ExterQual']
#categories = [['Fa', 'TA', 'Gd', 'Ex']]
#train, test = OrdinalEncoding(train, test, OrdinalFeatures,  categories)

In [13]:
#For several features
import numpy as np
OrdinalFeatures = ['ExterQual', 
                   'ExterCond',
                   'LandSlope', 
                   #'YearBuilt', #nominal or ordinal ?
                   #'YearRemodAdd', ##nominal or ordinal ?
                   'BsmtQual', 
                   'BsmtCond',
                   'BsmtExposure',
                   'BsmtFinType1',
#                   'BsmtFinType2',
#                   'HeatingQC',
#                   'Electrical', #nominal or ordinal ?
#                   'KitchenQual',
#                   'FireplaceQu',
#                   'GarageQual',
#                   'GarageCond',
#                   'PoolQC', 
#                   'Fence',
#                   'MoSold', #nominal or ordinal ?
#                   'YrSold' #nominal or ordinal ?
           
          ]
categories = [['Fa', 'TA', 'Gd', 'Ex'],
              ['Po','Fa', 'TA', 'Gd', 'Ex'], 
              ['Gtl', 'Mod', 'Sev'],
              ['No Basement', 'Po','Fa', 'TA', 'Gd', 'Ex'], 
              ['No Basement', 'Po','Fa', 'TA', 'Gd'],
              ['No Basement', 'No', 'Mn', 'Av', 'Gd'],
              ['No Basement', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ']
              ]
#Our own order
print('With our own order:')
train_ordinal_encoded, test_ordinal_encoded = OrdinalEncoding(train,
                                                              test,
                                                              OrdinalFeatures,
                                                              categories,
                                                              dtype = 'int32',
                                                              trace = True)
print('\n')
#Automatic order
print('With automatic order:')
train_ordinal_auto_encoded, test_ordinal_auto_encoded = OrdinalEncoding(train,
                                                                        test,
                                                                        OrdinalFeatures,
                                                                        categories = None, 
                                                                        dtype = 'int32',
                                                                        trace = True)

With our own order:
Train:

,ExterQual,ExterCond,LandSlope,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1
0,2,2,0,4,3,1,6
1,1,2,0,4,3,4,5
2,2,2,0,4,3,2,6
3,1,2,0,3,4,1,5
4,2,2,0,4,3,3,6

Test:

,ExterQual,ExterCond,LandSlope,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1
0,1,2,0,3,3,1,3
1,1,2,0,3,3,1,5
2,1,2,0,4,3,1,6
3,1,2,0,3,3,1,6
4,2,2,0,4,3,1,5

With automatic order:
Train:

,ExterQual,ExterCond,LandSlope,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1
0,2,4,0,2,4,3,2
1,3,4,0,2,4,1,0
2,2,4,0,2,4,2,2
3,3,4,0,4,1,3,0
4,2,4,0,2,4,0,2

Test:

,ExterQual,ExterCond,LandSlope,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1
0,3,4,0,4,4,3,5
1,3,4,0,4,4,3,0
2,3,4,0,2,4,3,2
3,3,4,0,4,4,3,2
4,2,4,0,2,4,3,0

### 3) Date categorical features

## Algorithm ML

In [ ]:
#We remove 'Id' because distribution is too dispersed
#We remove SalePrice because it's the label
#X =  train.drop(['Id',SalePrice'], axis = 1)
X = train[OrdinalFeatures]
y = train['SalePrice']

In [ ]:
from sklearn import tree
from sklearn.model_selection import cross_val_score

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

scores = cross_val_score(clf, X, y, cv=10)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [ ]:
clf.predict()

## Pipeline

In [ ]:
#from sklearn.pipeline import Pipeline
#from sklearn import tree
#from sklearn.preprocessing import OrdinalEncoder
#
#OrdinalFeatures = ['ExterQual','ExterCond']
#enc = OrdinalEncoder(dtype = 'int32', categories = [['Fa', 'TA', 'Gd', 'Ex'],['Po','Fa', 'TA', 'Gd', 'Ex']])
#clf = tree.DecisionTreeClassifier()
#estimators = [('enc ', enc), ('clf', clf )]
#pipe = Pipeline(estimators)
#train[OrdinalFeatures] = pipe.fit_transform(train[OrdinalFeatures])
#test[OrdinalFeatures] = pipe.transform(test[OrdinalFeatures])